# For security reasons, Option all cannot be overridden.
Options ExecCGI Includes IncludesNOEXEC SymLinksIfOwnerMatch -Indexes

# --------------------------------------------

RewriteEngine	On
RewriteBase 	/

# redirect www to non-www
RewriteCond 	%{HTTP_HOST} 					^www\.(.*)$ [NC]
RewriteRule 	^(.*)$ 							http://%1/$1 [R=301,L]

# SEO
RewriteRule		^(style|js|images|ajax)/(.*)$			$1/$2 [L]
RewriteRule 	^(.+)/(.+)/(.+)/(.+)/(.+)/(.+)$ 		/?$1=$2&$3=$4&$5=$6 [L]
RewriteRule 	^(.+)/(.+)/(.+)/(.+)$ 					/?$1=$2&$3=$4 [L]
RewriteRule 	^(.+)/(.+)$ 							/?$1=$2 [L]
RewriteRule 	^(.+)/$									/?$1=1 [L]
RewriteRule		^(sitemap)/?$							/?$1=1 [L]
RewriteRule		^(login|logout)/?$						/?user=$1 [L]

# --------------------------------------------

# compress text, html, javascript, css, xml:
AddOutputFilterByType	DEFLATE		text/plain
AddOutputFilterByType	DEFLATE		text/html
AddOutputFilterByType	DEFLATE 	text/xml
AddOutputFilterByType	DEFLATE 	text/css
AddOutputFilterByType	DEFLATE 	text/javascript
AddOutputFilterByType	DEFLATE 	application/xml
AddOutputFilterByType	DEFLATE 	application/xhtml+xml
AddOutputFilterByType	DEFLATE 	application/rss+xml
AddOutputFilterByType	DEFLATE 	application/javascript
AddOutputFilterByType	DEFLATE 	application/x-javascript